:root{
    --primary-color: rgb(28, 146, 243);
}

*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.password-generator-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}